* {
    background-color: black;
    font-family: 'Inter', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    height: 90vh;
    width: 100%;
    background-color: black;
}
p {
    font-size: 12px;
    color: #8d99ae;
    font-weight: 400;
}